.disease {
    div {
        box-sizing: border-box;
    }
    .disease-head {
        .cascaderBox {
            margin-top: 20px;
            margin-left: 30px;
        }
    }

    .content {
        margin: 0 auto;
        width: 1860px;
        .left {
            margin-right: 20px;
            width: 920px;
            height: 892px;
            .gl-linear-bd-row {
                margin-top: 20px;
                margin-bottom: 40px;
                padding: 25px 60px;
                .icon {
                    margin-right: 30px;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    text-align: center;
                    font-size: 30px;
                    @include themify($themes) {
                        color: themed("sub-main-color");
                        background-image: url('#{themed("bg-url")}/bed/circle_bg.png');
                        background-size: 100% 100%;
                    }
                }
                .name {
                    flex: 1;
                    line-height: 36px;
                }
                .value {
                    flex: 1;
                    padding-top: 34px;
                    text-align: right;
                    .val {
                        display: inline-block;
                        width: 140px;
                    }
                }
            }
        }

        .right {
            width: 920px;
            .right-top {
                margin-bottom: 20px;
                height: 436px;
                .box-content {
                    height: 352px;
                    .el-table td {
                        padding: 17px 0;
                    }
                }
            }

            .right-bottom {
                height: 436px;
                .box-content {
                    height: 352px;
                    .el-table td {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}