/*全局透视*/
//金字塔背景
$pyramid: "/perspective/pyramid.png";
//左节点背景
$node: "/perspective/nodeleft.png";
//右边背景图
$noderight: "/perspective/noderight.png";
//选中
$selection: "/perspective/selection.png";
$selectionright: "/perspective/selectionright.png";
//节点边框位置
$nodeList: (
    (
        bgimg: $node,
        left: -170px,
        titleLeft: 240px,
        titleTop: 72px,
        children: (
            (
                top: 70px,
            ),
            (
                top: 50px,
            ),
            (
                top: 0,
            ),
            (
                top: -50px,
            ),
            (
                top: -100px,
            ),
            (
                top: -170px,
            ),
        ),
    ),
    (
        bgimg: $noderight,
        left: 580px,
        titleLeft: 240px,
        titleTop: 175px,
        children: (
            (
                top: 135px,
            ),
            (
                top: 115px,
            ),
            (
                top: 95px,
            ),
            (
                top: 75px,
            ),
            (
                top: 45px,
            ),
            (
                top: 10px,
            ),
        ),
    ),
    (
        bgimg: $node,
        left: -170px,
        titleLeft: 200px,
        titleTop: 282px,
        children: (
            (
                top: 260px,
            ),
            (
                top: 240px,
            ),
            (
                top: 240px,
            ),
            (
                top: 240px,
            ),
            (
                top: 230px,
            ),
            (
                top: 240px,
            ),
        ),
    ),
    (
        bgimg: $noderight,
        left: 580px,
        titleLeft: 200px,
        titleTop: 423px,
        children: (
            (
                top: 400px,
            ),
            (
                top: 380px,
            ),
            (
                top: 350px,
            ),
            (
                top: 320px,
            ),
            (
                top: 290px,
            ),
            (
                top: 300px,
            ),
        ),
    )
);

//背景图片
@mixin bg($img, $w, $h, $x, $y) {
    @include themify($themes) {
        background-image: url('#{themed("bg-url")}'+$img);
        background-size: $w $h;
        background-repeat: no-repeat;
        background-position: $x $y;
    }
    //position: relative;
    // background-image: url($img);
    // background-size: $w $h;
    // background-repeat: no-repeat;
    // background-position: $x $y;
}

//定位1是上左侧 2是上右侧
@mixin positions($type, $option, $l, $t) {
    position: $option;
    top: $t;
    @if $type==1 {
        left: $l;
    } @else {
        right: $l;
    }
}

//字体
@mixin font($h, $f, $weight, $c, $margin) {
    height: $h;
    font-size: $f;
    font-weight: $weight;
    color: $c;
    margin: $margin;
}

//全局透视节点
@mixin nodeLists($clor, $defaultColor) {
    height: 62px;
    line-height: 62px;
    color: $defaultColor;
    .icon {
        width: 32px;
        display: inline-block;
        color: $clor;
    }
    .node {
        width: 140px;
        font-size: 20px;
        display: inline-block;
        color: $defaultColor;
    }
    .proportion {
        font-size: 24px;
        font-weight: 600;
    }
}

//数据层标题
@mixin title($titleColor, $titleColor1, $titleColor2) {
    height: 30px;
    font-size: 28px;
    font-weight: 600;
    color: $titleColor;
    line-height: 24px;
    // background: linear-gradient(0deg, $titleColor1 0%, $titleColor2 51.904296875%, $default 100%);
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 bottom,
        from($titleColor1),
        to($titleColor2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
